<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/login style.css">
    <title>LOG In</title>
</head>
<body>
    <div class="container-fluid login-container">
        <h1 class="login__subtitle">
            Toshkent axborot <br> texnologiyalar <br> universiteti
        </h1>
        <div class="login__info">
            <p>
                tatu barcha talabalr orzu qilgan olygoh. <br>
                Образовательный 
                Фонд «Талант и успех» Центр <br>
                Педагогического Мастерства
            </p>
        </div>
        <h3 class="login__title">
            tizimgaga kirish
        </h3>
        <div class="login__cont">
            <form action="">
                <label for="login">
                    <h5 class="login__cont-title">
                        log in
                    </h5>
                </label>
                <input id="login" class="login" type="text" placeholder="log inni kiriting" minlength="5" maxlength="25" required>
                <label for="password">
                    <h5 class="login__cont-title">
                        parol
                    </h5>
                </label>
                <input id="password" class="login" type="password" placeholder="parolni kiriting" minlength="8" maxlength="15">
                <button class="login__btn" type="submit">Kirish</button>
            </form>
        </div>
    </div>
</body>
</html>